<h3>
	<%= t 'user_profile' %>
</h3>
<p>
	<%= t 'user_profile' %>: <%= @user.name %>
</p>
<p>
	<%= t 'user_email' %>: <%= @user.email if @user.email %>
</p>
<%= link_to t('edit_account'), edit_user_registration_path, class: "small button" %>