<%= render :partial => "shared/user_welcome" %>
<li class="has-dropdown"><a href="#"><div class="foundicon-settings"></div></a> 
	<ul class="dropdown">
		<li>
			<%= link_to t('logout'), destroy_user_session_path, :method=>'delete'%>        
		</li>
		<li>
			<%= link_to t('profile'), user_path(current_user) %>
		</li>
		<%= render :partial => 'shared/fan_profile_managment' %>
		<% if current_user.promoter_profile_created? %>
		<li>
			<%= link_to t('promoter_profile'), user_promoter_profile_path(current_user) %>
		</li>
		<% end %>
	</ul>
</li>
<li class="divider"></li>
<% if current_user.admin %>
<%= render :partial => "shared/admin_navigation" %>
<% end %>
<%= link_to t('invite') + current_user.invitation_limit.to_s + ")", new_user_invitation_path, :class => "button small invitesButton"  %> 