<h1>
	<%= @event.name %><%= t 'in_zagreb'%>
</h1>
<h3>
  <%= @event.description %> 
</h3>
<%= render 'comment_form' %>
<% if @comments.any? %>
	<ol class="comments">
    	<%= render @comments %>
    </ol>
<% end %>