<p>Hello <%= @resource.email %>!</p>

<p><%= t 'someone_invited' %> <%= root_url %>, <%= t 'invitation_contd' %></p>

<p><%= link_to t('accept_invitation'), accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p><%= t 'decline_invitation' %><br />
<%= t 'decline_contd' %></p>
