<dl class="tabs">
	<%= tab_item t('home'), root_path %>
	<%= tab_item t('view_bands'), bands_path %>
	<%= tab_item t('how_it_works'), pages_help_path %>
  <%= tab_item t('about'), pages_about_path %>
</dl>

<div class="userButtons">
  <% if user_signed_in? %>
  <%= render :partial => "shared/user_welcome" %>
  <%= render :partial => "shared/signed_in_navigation" %>
  <% if current_user.admin %>
  <%= render :partial => "shared/admin_navigation" %>
  <% end %>
  <% else %>
  <%= render :partial => "shared/signed_out_navigation" %>
  <% end %>
</div>