<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title><%= content_for?(:title) ? yield(:title) : "GigBag" %></title>
  
  <!-- Included CSS Files -->
  <%= stylesheet_link_tag    "application" %>
  
  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body class="home index">
  <% if current_page?('/') %>
  <div id="avatar">
    <div id="branch"></div>
    <div class="animal owl">
      <div class="head"></div>
      <div class="beak"></div>
      <div class="eye-border left">
        <div class="eye"></div>
      </div>
      <div class="eye-border right">
        <div class="eye"></div>
      </div>
      <div class="body">
        <div class="tummy"></div>
        <div class="wing left"></div>
        <div class="wing right"></div>
      </div>
      <div class="foot left"></div>
      <div class="foot right"></div>
    </div>
  </div>
  <% end %>
  <div id="container" class="container">
    <header id="header">
      <div class="row">
        <%= render 'layouts/navigation' %>
      </div>
      <%= render 'layouts/messages' %>
    </header>
    <div class="row" id="body">
      <div class="box twelve columns centered">
        <div id="main" role="main">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer id="footer">
      <p class="leftAlign">GigBag is a platfrom for group funding of concerts. It enables you and people in your area to pre-fund a gig by an artist you all like and find a person who will organize it. GigBag suggests which artists are the most popular among users in your area. If you discover some new band you thought nobody has heard of has many fans in your area you can create a GigBag event and start a campaign to bring them to a local venue.</p>
      <p>&copy; TagoMago Inc.</p>
    </footer>
  </div>
</body>
</html>